@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/variables/_colors.scss";
@import "~@fremtind/jkl-core/variables/all";
@import "~@fremtind/jkl-core/functions";
@import "~@fremtind/jkl-core/variables/_spacing.scss";

$medium: 900px;

.project-card {
    min-width: 50%;

    @media screen and (max-width: $medium) {
        min-width: 75%;
    }

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 1;

        @media screen and (max-width: $medium) {
            display: block;
            margin-top: $layout-spacing--small;
        }

        &--inverted {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            @media screen and (max-width: $medium) {
                display: block;
                margin-top: $layout-spacing--small;
            }
        }

        &--odd {
            margin-top: 20rem;
            @media screen and (max-width: $medium) {
                margin-top: $layout-spacing--small;
            }
        }
    }

    &__title-container {
        padding: $component-spacing--large;
        background-color: $granitt;
        margin: 0;
        color: $snohvit;
    }

    &__image {
        justify-self: center;
        max-width: 100%;
        max-height: 100%;
    }

    &__timeline {
        border: 2px solid $snohvit;
        border-radius: 5px;
        width: 15vw;

        @media screen and (max-width: $medium) {
            display: none;
        }
    }

    &__text {
        color: $snohvit;
        text-align: center;

        &--year {
            @media screen and (max-width: $medium) {
                display: none;
            }
        }
    }
    &__button {
        cursor: pointer;
        color: $granitt;
    }

    &__actions-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
